# Contact form (Resend)
RESEND_API_KEY=re_your_api_key_here
CONTACT_INBOX_EMAIL=bookings@toursbimini.com
RESEND_FROM_EMAIL=Tours Bimini <bookings@toursbimini.com>
PAYPAL_CLIENT_ID=your_sandbox_or_live_client_id
PAYPAL_CLIENT_SECRET=your_sandbox_or_live_client_secret
PAYPAL_MODE=sandbox
NEXT_PUBLIC_PAYPAL_CLIENT_ID=your_sandbox_or_live_client_id
